body,
.rate-app {
  font-family: 'Lato', sans-serif;
  background: #FFFF;
  color: #000;
  font-size: 100%;
  height: 100%;
  box-sizing: border-box !important;
}

.container {
  max-width: 1200px !important;
  margin-right: auto;
  margin-left: auto;
}

@media (max-width: 320px) {
  .container {
    max-width: 280px !important;
    width: auto;
    padding: 0 !important;
  }
  
}